set timeout=8
set default=0

menuentry "RanaOS beta 2 (best mode)" {
    multiboot2 /boot/kernel.elf

    module /files/text.txt
    module /files/bg.pim
    module /files/tux.pim

    insmod all_video
    insmod gfxterm
    insmod vbe
    insmod video_fb

    set gfxpayload=1024x768x32
    set gfxmode=1024x768x32
    terminal_output gfxterm

    boot
}

menuentry "RanaOS beta 2 (minimal)" {
    multiboot2 /boot/kernel.elf
    
    insmod all_video
    insmod gfxterm
    insmod vbe
    insmod video_fb

    set gfxmode=1024x768x32
    set gfxpayload=keep

    terminal_output gfxterm

    boot
}

menuentry "RanaOS beta 2 (safe mode)" {
    multiboot /boot/kernel.elf
    boot
}

menuentry "RanaOS beta 2 (og mode)" {
    multiboot /boot/kernel.elf
    module /files/text.txt
    module /files/bg.pim
    module /files/tux.pim
    boot
}

menuentry "Reboot" {
    reboot
}